h1{
  color:#C116B3;
}
.header{
  width: 100%;
  height: 100px;
}
.header{
display:flex;
justify-content:space-between;
}

.menu ul{
  display:flex;
  width: 100%;
  height:50px;
}
.menu ul li {
  list-style: none;
  width: 200px;
  text-align: center;
}
  .menu ul li a{
    color:#C116B3;
    text-decoration: none;
  }
body{
  background-color:#4B0070;
}
.absolute{
color:#FBF7F7;
}
.textedescri{
  color: #F4F4F4;

}
#left{
  width:80%;
  float: left;
}
.bouton a{
  color: #F4F4F4;
  text-decoration: none;
    background: linear-gradient(#6B0F70, #A913B2);
    padding: 10px;
    border-radius: 90px;
}
.fuze{
  width:40%;
  float: left;
}
.droite{
  color:#F4F4F4;
  width: 60%;
  float: left;
}
.container{
  width: 960px;
  margin:auto;
}
